{% extends 'base.html.twig' %}
{% block title %}Pradžia{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Renginių portalas "bemanto"</h1>
    </div>
    <div class="main-image">
        <img src="{{ asset('images/main.jpg') }}" alt="Main">
        <div>

            <p>Šiame portale galite lengvai susirasti įdomiausius renginius, juos komentuoti bei
                prenumeruoti jums patinkančias renginių kategorijas. Renginiai nuolat pridedami ir pildomi,
                tad užsiregistruokite ir domėkites įdomiausiais renginiais jau šiandien!</p>
        </div>
        <a href="{{ path('event') }}" class="browse-link">
            <button class="btn btn-primary btn-lg">Naršyti renginius</button>
        </a>
    </div>
{% endblock %}