{% extends 'base.html.twig' %}

{% block title %}Sekamos kategorijos{% endblock %}

{% block body %}

    <div class="container col-xs-12 col-md-10 mt-5 bg-white">
        <div class="row">
            <div class="col col-xs-6">
                
                <table style="max-width:50vh" class="table mt-3">
                    <thead>
                        <tr>
                            
                            <th>Pavadinimas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for cat in categoriesArray %}
                            <tr>                             
                                <td>{{ cat.category.name }}</td>
                                {% if cat.isSub == true %}
                                    <td><a href="{{ path('category_unsubscribe', { 'id' : cat.category.id }) }}"><button type="button" class="btn btn-danger"><i class="fas fa-minus"></i> </button><a>        
                                {% else %}
                                    <td><a href="{{ path('category_subscribe', { 'id' : cat.category.id }) }}"><button type="button" class="btn btn-success"><i class="fas fa-plus"></i> </button><a>
                              {% endif %}
                            <tr>
                        {% endfor %}
                        
                    </tbody>
                <table>

            </div>
        </div>

    </div>

{% endblock %}