<h2><small>Password change request for</small> bemanto</h2>

<big>
    Hello,<br>
    We have received a password change request for your Bemanto account.<br>
    To change your password, click <a href="{{ generatedUrl }}">here</a>.<br><br>

    If you did not request a password change, then please ignore this email.<br><br>

    Thank you
</big>