<h2><small>Slaptažodžio atstatymo forma iš</small> bemanto</h2>

<big>
    Sveiki,<br>
    Mes gavome užklausą del jūsų "bemanto" paskyros slaptažodžio atstatymo<br>
    Kad pasikeistumėte slaptažodį, spauskite <a href="{{ generatedUrl }}">čia</a>.<br><br>

    Jeigu jūs nesiuntėte užklausos atstatyti slaptažodžiui, ignoruokite šį laišką<br><br>

    Dėkui ir viso gero
</big>