{% extends 'base.html.twig' %}

{% block title %}Hello User deletion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style='text-align:center;padding-bottom: 5%'>User deletion panel</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th style="width: 5%" scope="col"><b>ID</b></th>
      <th style="width: 10%" scope="col">Email</th>
      <th style="width: 10%" scope="col">Role</th>
      <th style="width: 5%" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr id='1'>
      <td><b>1</b></td>
      <td>test@test.tt</td>
      <td>User</td>
      <td>  <button type="button" id='button1' onclick='DeleteUser(this.id)' class="btn btn-danger">Delete</button></td>
    </tr>
 
  </tbody>
</table>

<style>


</style>

<script>

function DeleteUser(id)
{
  
var rowId = document.getElementById(id).parentElement.parentElement.id; 
 $(document).on('click', id, function(){
            that = $(this);
            $.ajax({
                url:'{{ (path('app_bundle_route')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    UserID: rowId,
                },
                async: true,
                success: function (data)
                {                   
$('#'+rowId).empty();
                }
            });
            return false;

        });

    
}

</script>


{% endblock %}
