{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('user_settings') }}

{% endblock %}

{% block body %}

<div class="container col-sm-8 mt-5 bg-white">
    <div class="row border rounded-top p-2">
        <div class="col">
            <big>Nustatymai</big><br>
            Tvarkykite savo paskyros nustatymus
        </div>
    </div>
    <div class="row border border-top-0 rounded-bottom p-3">
        <div class="col-xs-12 col-md-4">
            <ul class="ul-menu">
                <li class="li-menu"><div id="menu-item" class="active"><i class="fas fa-eye fa-lg mr-3 mt-1"></i> Apžvalga</div></li>
                <li class="li-menu"><div id="menu-item"><i class="fas fa-key fa-lg mr-3 mt-1"></i> Slaptažodžio keitimas</div></li>
                <li class="li-menu"><div id="menu-item"><i class="fas fa-envelope fa-lg mr-3 mt-1"></i> El. pašto adreso keitimas</div></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-8 border rounded-lg">
            <div id="info-block">
                Pirmas blockas
            </div>
            <div id="info-block" class="hide">
                Antras blokas
            </div>
            <div id="info-block" class="hide">
                Trecias blokas
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('account_settings') }}

{% endblock %}