<h2><small>Sukurtas naujas renginys portale</small> bemanto</h2>

<big>
    Sveiki,<br>
    Mūsų portale jūs esate prenumeravęs kategoriją {{ categoryName }}<br>
    Buvo sukurtas naujas renginys pažymėtas šia kategorija!
    Apie naują renginį galite pasidomėti <a href="{{ eventUrl }}">čia</a>.<br><br>

    Jei daugiau nepageidaujate gauti informacinių el. laiškų susijusių su šia kategorija, prenumeratą galite atšaukti <a href="{{ subscriptionsUrl }}">čia</a>.<br><br>

    Iki pasimatymo!
</big>